body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4px;
  width: auto;
}

#container {
  flex-grow: 1;
  height: 90vh;
}

#navigation {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  padding: 24px;
}

object {
  height: 100%;
  width: 100%;
}
